    {% extends "admin/base_site.html" %}
    {% block content %}
    <div id="content-main">
        <form method="post">
            {% csrf_token %}
            <div class="module aligned">
                {{ form.as_p }}
            </div>
            <div class="submit-row">
                <input type="submit" value="Загрузить" class="default">
                <a href=".." class="button cancel-link">Отмена</a>
            </div>
        </form>
    </div>
    <style>
        textarea { width: 100%; min-height: 300px; font-family: monospace; }
        .aligned p label { width: 160px; display: inline-block; font-weight: bold; }
    </style>
    {% endblock %}