{% extends 'admin/change_list.html' %}
{% load i18n admin_urls static %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        {# Относительная ссылка на import-csv/ (работает от текущего changelist URL) #}
        {# Добавляем company_id из разных возможных ключей фильтра в GET #}
        <a href="import-csv/{% if request.GET.company_id %}?company_id={{ request.GET.company_id }}{% elif request.GET.company_id__exact %}?company_id={{ request.GET.company_id__exact }}{% elif request.GET.company__id__exact %}?company_id={{ request.GET.company__id__exact }}{% elif request.GET.company__exact %}?company_id={{ request.GET.company__exact }}{% endif %}" class="addlink">
            {% translate 'Импорт из CSV' %}
        </a>
    </li>
{% endblock %}

